* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
}
.nav-bar {
    width: 1400px;
    min-width: 1400px;
    background-color: #fff;
    font-size: 40px;
}
